<div class="chat-container">
  <h2>Chatbot de Previsão</h2>

  <!-- Removi o <form> para evitar GET automático -->
  <div class="chat-input">

 
    <input
      type="text"
      [(ngModel)]="newMessage"
      name="message"
      placeholder="Digite sua pergunta..."
      required
    />
    <button (click)="sendMessage()">Enviar</button>

  </div>






  <!-- Área para exibir as mensagens -->
  <div class="message-container">
    <div class="messages" *ngIf="message.length > 0">
      <div *ngFor="let msg of message" class="message-item" [ngClass]="{'user-message': msg.sender === 'user', 'bot-message': msg.sender === 'bot'}">
        <strong>{{ msg.sender === 'user' ? 'Você:' : 'Bot:' }}</strong>
        <div class="message-text">
          {{ msg.text }}
        </div>
      </div>
    </div>
    <div style="margin-left: 15px; margin-top: 10px;" *ngIf="message.length > 0">
      <button type="submit" (click)="novaPergunta()">Nova pergunta</button>
    </div>
    <app-prediction 
      *ngIf="showPrediction" 
      [previsaoData]="previsao">
      <!-- Debug temporário -->
      <div style="color: red; font-weight: bold; margin: 10px;">
        DEBUG: Previsão recebida com {{ previsao.length }} itens
      </div>
    </app-prediction>
  </div>




